name: Environments-release

on:
  #push:
     #branches: main

  workflow_dispatch:

jobs: 
  Dev-job:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Dev
        run: echo "Deploying to Dev environment"

  Stag-job:
     runs-on: ubuntu-latest
     needs: Dev-job

     steps:
      - name: Deploy to Stag
        run: echo "Deploying to Staging environment"


  Prod-job:
     runs-on: ubuntu-latest
     needs: Stag-job

     steps:
      - name: Deploy to Prod
        run: echo "Deploying to Production environment"
