name: Environments-release

on:
  #push:
     #branches: main

  workflow_dispatch:

jobs: 
  Dev-job:
    runs-on: ubuntu-latest
    environment: DEV

    steps:
      - name: Deploy to Dev
        run: echo "Deploying to Dev environment"

  Stag-job:
     runs-on: ubuntu-latest
     environment: Stag
     needs: Dev-job

     steps:
      - name: Deploy to Stag
        run: |
         echo "UserName = ${{vars.USERNAME}}"
         echo "password = ${{secrets.PASSWORD}}"
         echo "Deploying to Staging environment"


  Prod-job:
     runs-on: ubuntu-latest
     environment: Prod
     needs: Stag-job

     steps:
      - name: Deploy to Prod
        run: |
         echo "UserName = ${{vars.USERNAME}}"
         echo "password = ${{secrets.PASSWORD}}"
         echo "Deploying to Production environment"
